@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: azure;
}


nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 70px;
    background: black;

}

nav ul li {
    margin-right: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;

}

nav ul li:hover {
    color: rgb(163, 255, 163);
}

.brand {
    transition: transform 0.5s;
}


.brand:hover {
    transform: scale(1.3);
}

.container {
    min-height: 55vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    width: 70%;
    padding: 34px;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.play {
    position: sticky;
    height: 120px;
    background-color: black;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

#myProgressbar {
    width: 80vw;
    cursor: pointer;
}

.icons i {
    margin-top: 20px;
    margin-right: 16px;
    cursor: pointer;
}

.songListItemsCntainer {
    height: 55vh;
    overflow: auto;
}

.songItem {
    height: 30px;
    display: flex;
    margin-top: 10px;
    background-color: white;
    color: black;
    padding: 5px 15px;
    width: 40%;
    align-items: center;
    border-radius: 25px;
    justify-content: space-between;

}

.songItem img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.songItem i {
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .songItem {
        width: 80%;
    }
}